<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finalProject.mapper.AdminMapper">
	<insert id="categoryAdd">
		INSERT INTO category
		(
			  event_unum
			, category_name
			<if test="categoryRef !=null">
		    , category_ref
		    </if>
		    , category_used
		) 
		VALUES(
		      seq_category_unum.nextval
		    , #{categoryName}
		    <if test="categoryRef !=null">
		    , #{categoryRef}
		    </if>
		    , null
		)
	</insert>
	
	<delete id="categoryDelete">
		DELETE 
		  FROM category
		 WHERE category_unum = #{categoryUnum}
	</delete>
	
	<update id="categoryUseorNot">
		UPDATE category
	       SET category_used = #{categoryUsed}
		 WHERE category_unum = #{categoryUnum}
	</update>
	
	<insert id="eventAdd">
		INSERT INTO event(
		     event_unum
		   , event_title
		   , event_content
		   , event_regdate
		   <if test="eventEnddate !=null">
  		   , event_enddate
  		   </if>
  		   <if test="eventImage01Path !=null">
  		   , event_image01_path
  		   </if>
  		   <if test="eventImage02Path !=null">
  		   , event_Image02_path
  		   </if>
		) VALUES(
   			 seq_event_unum.nextval
   		   , #{eventTitle}
  		   , #{eventContent}
  		   , sysdate
  		   <if test="eventEnddate !=null">
  		   , #{eventEnddate}
  		   </if>
  		   <if test="eventImage01Path !=null">
  		   , #{eventImage01Path}
  		   </if>
  		   <if test="eventImage02Path !=null">
  		   , #{eventImage02Path}
  		   </if>
		)
	</insert>
	
	<delete id="eventDelete">
		DELETE 
		  FROM event
		 WHERE event_unum = #{eventUnum}
	</delete>
	
	<update id="eventDateChange">
		UPDATE event
		SET event_enddate = #{eventEnddate}
		WHERE event_unum = #{eventUnum}
	</update>
	
	<update id="deliveryStatus">
        UPDATE delivery
           SET delivery_status = #{deliveryStatus}
    	      <if test="deliveryStatus ==3">
               , delivery_enddate = sysdate
     		  </if>
	     WHERE delivery_unum = #{deliveryUnum}
    </update>
	
	<insert id="deliveryStart">
		INSERT into delivery(
			    delivery_unum
			  , order_unum
			  , delivery_status
			  , delivery_address
			  , delivery_regdate
			    
		) VALUES(
   				seq_delivery_unum.nextval  
    	      , #{orderUnum}
   			  ,	0
    		  ,	#{orderAddress}
    		  ,	sysdate
		)
	</insert>
	
	<insert id="productAdd">
		INSERT INTO product(
			  product_unum
			, category_unum
			, product_name
			, product_price
			, product_regdate
			<if test="productSeason !=null">
			, product_season
			</if>
			<if test="productImage01Path !=null">
			, product_image01_path
			</if>
			<if test="productImage02Path !=null">
			, product_image02_path
			</if>
		) VALUES(
		      seq_product_unum.nextval
		    , #{categoryUnum}
		    , #{productName}
		    , #{productPrice}
		    , sysdate
		    <if test="productSeason !=null">
		    , #{productSeason}
		    </if>
		    <if test="productImage01Path !=null">
		    , #{productImage01Path}
		    </if>
		    <if test="productImage02Path !=null">
		    , #{productImage02Path}
		    </if>
		)
	</insert>
	
	   <delete id="productDelete">
      DELETE from product
       WHERE product_unum = #{productUnum}
   </delete>
   
   <update id="productInfoChange">
      UPDATE product
         SET category_unum = #{categoryUnum},
             product_name = #{productName},
             product_price = #{productPrice}
             <if test="productSeason != null">
             , product_season = #{productSeason}
             </if>
             <if test="productImage01Path != null">
             , product_image01_path = #{productImage01Path}
             </if>
             <if test="productImage02Path != null">
             , product_image02_path = #{productImage02Path}
             </if>
       WHERE product_unum = #{productUnum};
   </update>
   
   <insert id="qnareply">
      INSERT INTO qna values(
          seq_qna_unum.nextval,
          #{userUnum},
          #{qnaTitle},
          #{qnaContent},
          #{qnaComment},
          sysdate
      )
   </insert>
   
   <delete id="userDelete">
      DELETE FROM users
       WHERE user_unum = #{userUnum}
   </delete>
   
   <select id="productAll" resultType="ProductVO">
      SELECT *
	    FROM product
	   ORDER BY product_unum DESC
   </select>
   
   <select id="deliveryAll" resultType="DeliveryVO">
	   SELECT *
	     FROM delivery
		ORDER BY delivery_regdate DESC
   </select>
   
   <select id="orderAll" resultType="OrdersVO">
  	   SELECT *
		 FROM orders
		WHERE order_unum not in (SELECT order_unum
	  						       FROM delivery)
		ORDER BY order_regdate DESC
   </select>
   
   <select id="qnaAll" resultType="Qna2DTO">
	   	SELECT *
		  FROM qna q
		  LEFT OUTER JOIN (SELECT qna_title res_title, qna_content res_content, qna_comment res_comment
		                     FROM qna) q2
		    ON q.qna_unum = q2.res_comment
		 WHERE qna_comment IS NULL
		 ORDER BY q.qna_regdate DESC
   </select>
</mapper>

