<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finalProject.mapper.OrdersMapper">
	<update id="replaceOrder">
		UPDATE orders
		   SET order_status = 1
		 WHERE order_unum = #{orderUnum}
	</update>
	
	<insert id="registOrder">
		INSERT INTO orders(
			  order_unum 
			, order_status
		    , order_address
	 	    <if test="orderMessage != null">
			, order_message
		    </if>
		    , order_regdate
			, user_unum
		) VALUES(
			  seq_order_unum.nextval
			, 0
			, #{orderAddress}
    		<if test="orderMessage != null">
     		, #{orderMessage}
     		</if>
     		, #{orderRegdate}
    		, #{userUnum}
		)
	</insert>
	
	<update id="replaceOrderReturn">
		UPDATE orders
		SET order_status = 2
		WHERE order_unum = #{orderUnum}
	</update>
</mapper>