<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finalProject.api.mapper.OrdersMapper">
	<update id="replaceOrder">
		UPDATE orders
		   SET orders_status = 1
		 WHERE order_unum = #{orderUnum}
	</update>
	
	<insert id="registOrder">
		INSERT INTO orders(
			  order_status
		    , order_address
	 	    <if test="orderMessage != null">
			, order_message
		    </if>
			, user_unum
		) VALUES(
			  #{orderStatus}
			, #{orderAddress}
    		<if test="orderMessage != null">
     		, #{orderMessage}
     		</if>
    		, #{userUnum}
		)
	</insert>
</mapper>