<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finalProject.mapper.PaymentMapper">
	<insert id="registPayment">
		INSERT INTO payment(
			  payment_unum 
			, order_unum
		    , product_unum
		    , payment_count
		    , payment_price
			, payment_regdate
		) VALUES(
			  seq_payment_unum.nextval
			, #{orderUnum}
			, #{productUnum}
			, #{paymentCount}
			, #{paymentPrice}
     		, sysdate
		)
	</insert>
</mapper>