<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finalProject.api.mapper.PayRepMapper">
	<select id="unregistReply" resultType="PayRepDTO">
		<![CDATA[
		SELECT *
	 	  FROM payment p
		  LEFT OUTER JOIN reply r
			ON p.payment_unum = r.payment_unum
		 WHERE r.reply_unum IS NULL
		   AND p.user_unum = #{userUnum}
		]]>
	</select>
	
	<select id="registReply" resultType="PayRepDTO">
		<![CDATA[
		SELECT *
		  FROM reply r
		  LEFT OUTER JOIN payment p
		    ON r.payment_unum = p.payment_unum
		  LEFT OUTER JOIN orders o
		    ON p.order_unum = o.order_unum
		 WHERE o.user_unum = #{userUnum}
		   AND r.reply_regdate BETWEEN #{replyStartdate} AND #{replyEnddate}
		 ORDER BY r.reply_regdate DESC
		]]>
	</select>
</mapper>