<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finalProject.mapper.ProductCountMapper">
	<select id="showBestProduct" resultType="ProductCountDTO">
		SELECT count, p.*
		  FROM product p
		  LEFT OUTER JOIN (SELECT product_unum, count(*) count
		                     FROM payment
		                    GROUP BY product_unum) v
		    ON p.product_unum = v.product_unum
		 WHERE p.category_unum IN (SELECT c.category_unum
		                             FROM category c
		                             <if test="categoryUnum != -1">
		                            WHERE category_ref = #{categoryUnum}
		                            </if>
		                          )
		 ORDER BY NVL(count, 0) DESC, p.product_regdate DESC, product_name
	</select>
	
	<select id="showManyReplyProduct" resultType="ProductCountDTO">
		<![CDATA[
	    SELECT *
	      FROM (SELECT p.product_unum, COUNT(*) count
	              FROM reply r
	              LEFT OUTER JOIN payment p
	                ON r.payment_unum = p.payment_unum
	             GROUP BY p.product_unum) v
	      FULL OUTER JOIN product d
	        ON v.product_unum = d.product_unum
	     WHERE category_unum = #{categoryUnum}
	     ORDER BY v.count nulls last, v.count desc
	    ]]>
	</select>
</mapper>