<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finalProject.mapper.QnaMapper">
	<insert id="registQna">
		INSERT INTO qna(
			  user_unum
			, qna_title
			, qna_content
			<if test="qnaComment != null">
			, qna_comment
			</if>
		) VALUES(
			  #{userUnum}
			, #{qnaTitle}
			, #{qnaContent}
			<if test="qnaComment != null">
			, #{qnaComment}
			</if>
		)
	</insert>
</mapper>