<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finalProject.mapper.ReplyMapper">
	<insert id="registReply">
		INSERT INTO reply(
			  payment_unum
			, reply_content
			<if test="replyImage01Path != null">
			, reply_image01_path
			</if>
		) VALUES(
			  #{paymentUnum}
			, #{replyContent}
			<if test="replyImage01Path != null">
			, #{replyImage01Path}
			</if>
		)
	</insert>
	
	<update id="replaceReply">
		UPDATE   reply
		   SET   reply_content = #{replyContent}
		   	   <if test="replyImage01Path != null">
		   	   , reply_image01_path = #{replyImage01Path}
		   	   </if>
			   , reply_regdate = SYSDATE
		 WHERE   reply_unum = #{replyUnum}
	</update>
	
	<select id="detailShowReply" resultType="RepUseDTO">
		SELECT r.*, u.user_id
		  FROM reply r
		  LEFT OUTER JOIN payment p
		    ON r.payment_unum = p.payment_unum
		  LEFT OUTER JOIN orders o
		    ON p.order_unum = o.order_unum
		  LEFT OUTER JOIN users u
		    ON o.user_unum = u.user_unum
		 WHERE p.product_unum = #{productUnum}
		 ORDER BY reply_regdate DESC
	</select>
	
</mapper>